.search-list-btn {
    background: #75B72B;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #fff;
    padding: 16px;
}

.search-list-btn:hover {
    background: #7fc035;
    color: #fff;
}

.list-group-item:nth-child(odd) {
    background: #F8F8F8;
}